body{
	background-color: rgb(0, 153, 153);
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	font-size: 150%;
	color: rgb(220,220,220);
}

div#mainTitle{
	width:100px;
	height:100px;
	margin-left: auto;
    margin-right: auto;
	margin-bottom:10px;
	background-color: rgb(255,255,255);
	border-color: rgb(0, 51, 102);
	border-style: solid;
}

h3#gradeTitle{
	color: rgb(0, 153, 153);
	margin: 0;
}

h1#gradeNumber{
	color: rgb(0, 51, 102);
	margin: 0;
}

div#box{
	width:90%;
	margin-left: auto;
    margin-right: auto;
	border-color: rgb(220,220,220);
	border-style: solid;
	margin-bottom:10px;
}

button{
	font-family: 'Open Sans', sans-serif;
	margin-bottom: 10px;
	background-image: url(tick.png);
	height: 75px;
	width: 75px;
	background-size: 75px;
	border: none;
}


img{
	max-width: 100%;
}

@media(max-width: 480px){
	body{
		text-align: center;
	}
	div#box{
		width:95%;
	}

}